<div id="ids_accordion">
  <div class="card border-0">
    <h5>
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
        Related user IDs
      </button>
    </h5>
    <div id="collapseUser" class="collapse" data-parent="#ids_accordion">
      <ul class="list-group list-group-flush">
        <% if artist.related_user_ids.empty? %>
          <li class="list-group-item">Nothing here :(</li>
        <% else %>
          <% artist.related_user_ids.each do |id| %>
            <li class="list-group-item">
              <%= link_to id, vk_profile_url(id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card border-0">
    <h5>
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseClub" aria-expanded="false" aria-controls="collapseClub">
        Related club IDs
      </button>
    </h5>
    <div id="collapseClub" class="collapse" data-parent="#ids_accordion">
      <ul class="list-group list-group-flush">
        <% if artist.related_club_ids.empty? %>
          <li class="list-group-item">Nothing here :(</li>
        <% else %>
          <% artist.related_club_ids.each do |id| %>
            <li class="list-group-item">
              <%= link_to id, vk_profile_url(id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
