<h1><%= @artist.name %></h1>

<h2>Mashups</h2>

<div class="card-columns my-2">
  <% @artist.mashups.each do |mashup| %>
    <%= render partial: 'mashups/mashup_card', locals: { mashup: mashup } %>
  <% end %>
</div>
