<h1><%= @artist.name %></h1>

<h2>Mashups</h2>

<div class="card-columns my-2">
  <% @artist.mashups.each do |mashup| %>
    <div class="card p-3">
      <%= link_to mashup.audio.title, mashup %>
    </div>
  <% end %>
</div>
