<div class="row">
  <h1><%= @artist.name %></h1>
</div>
<div class="row my-2">
  <div class="col-3">
    <%= render partial: 'artists/artist_related', locals: { artist: @artist } %>
  </div>
  <div class="col-8 offset-1">
    <h4>Mashups</h4>
    <div class="row">
      <% @artist.mashups.each do |mashup| %>
        <div class="col-6 my-2">
          <%= render partial: 'mashups/mashup_card', locals: { mashup: mashup } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
