<% if text.present? %>
  <div class="alert alert-<%= type %> alert-dismissible fade show m-1" role="alert">
    <%=h text %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><%= fa_icon('times') %></span>
    </button>
  </div>
<% end %>
