<h1>Profile</h1>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete profile', user_path(@user), method: :delete, confirm: 'This will delete profile. Are you sure?' %>
